@use "./variables" as *;

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: $standard-font-size;
  line-height: $standard-line-height;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding:$navbar-height-mobile 5% 0;
  font-family: 'Sarabun', sans-serif;
  min-height: 100vh;
  overflow-x: hidden;

  @media (min-width: $desktop-breakpoint) {
    padding-top: $navbar-height-desktop;
  }
}

main {
  min-height: 80vh;
}


h1 {
  font-size: 2em;
  font-weight: 200;
  margin: 0;
}

h2 {
  font-size: 1.7em;
  font-weight: 300;
}

h3 {
  letter-spacing: 2px;
  font-weight: 300;
}

h4,
h5,
h6 {
  font-weight: 700;
}

#page-headline {
  font-size: 2.4em;
  line-height: 1;
  color: $contrast-color;
}

a {
  color: $text-color;
  text-decoration: none;
  transition: color 150ms linear;
  &:active {
    color: $contrast-color;
  }
}


li,
ul {
  list-style: none;
  padding:0;
  margin: 0;
}


img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  padding: 0 5%;
}

.img-and-text,
.member {
  padding: 5em calc(6%);

  @media screen and (min-width: $desktop-breakpoint) {
    padding:  5em 8%;
  }
}

::selection {
  color: $contrast-color;
  background-color: $test-color;
}

.hotspots-interaction .hotspots-image-container {
  background: #ffffff00;
}

