@use "./variables" as *;
@use "./mixins" as *;

#blog-posts {
  #page-headline {
    text-align: center;
  }

  .post {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    max-width: calc(4 * 325px + 3 * 30px ) ;
    margin: 0 auto;
  }
}

.blog-post {
  position: relative;
  width: 325px;
  min-height: 400px;
  display: flex;
  align-items: flex-end;
  border-radius: 3px;
  overflow: hidden;

  &:first-of-type {
    width: 100%;

    @media screen and (min-width: 756px ) {
      width: calc(2 * 325px + 30px);
    }
  }

  .meta-data {
    width: 100%;
    padding: 1em;
    background-color: $contrast-color;
    color: $background-color;
    transition: opacity $standard-animation-time ease-in-out, color $standard-animation-time ease-in-out, background-color $standard-animation-time ease-in-out;


    &:hover {
      opacity: .9 ;
      color: $test-color;
      background-color: $contrast-color;
    }

    h2 {
      font-family: Bellefair, SansSerif;
      margin: 0;
      padding: 0.5rem 0;


      .blog-link {
        position: absolute;
        @include topRightBottomLeft(0, 0, 0, 0);
        z-index: 1;

        &:hover {
          opacity: .75 ;
        }
      }
    }

    > p {
      margin: 0;
      padding: 0.5em 0;
    }

    > a {
      font-size: .85em;
      font-style: italic;
      position: relative;
      z-index: 2;
      padding: 0.5em 0;
      color: $background-color;
      transition: opacity $standard-animation-time ease-in-out;
      @include dynamicUnderline(0);

      &:hover {
        opacity: .75 ;

        &::before {
          width: 100%;
          left: 0;
        }
      }
    }
  }

  > img {
    position: absolute;
    @include topRightBottomLeft(0, 0, 0, 0);
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }
}

.category-title {
  font-size: 1.5em;
  text-align: center;

  > span {
    font-style: italic;
  }
}