@use "./variables" as *;
@use "./mixins" as *;

#to-top {
  z-index: 1000;
  padding: 1em;
  bottom: 3em;
  right: 5%;
  height: 80px;
  width: 80px;
  background-color: $test-color;
  color: $contrast-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: solid 1px #897500;*/
  @include border_colors(7deg, -8deg, -1px, -3px, 0, 1px);
  border-radius: 50%;
  /*transition: transform $standard-animation-time ease-in-out, box-shadow $standard-animation-time ease-in-out, opacity $standard-animation-time ease-in-out;*/
  transition: transform   $standard-animation-time ease-in-out;
  opacity: 0;

  .color1 {
    border-color: #82b9d9;
    transition: transform 250ms ease-in-out;
  }
  .color2 {
    border-color: #35648c;
    transition: transform 150ms ease-in-out;
  }

  &.show {
    opacity: 1;
    position: fixed;

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      .color1{
        transform: rotateY(-30deg) skew(7deg) translate(-1px, -3px);
      }
      .color2 {
        transform: rotateY(-335deg) skew(-8deg) translate(0, 1px);
      }
    }
  }
}


.show-more-btn,
.show-less-btn {
  color: #888;
  padding: 1em 0;

  &:hover {
    cursor: pointer;
    color: #555;
  }
}