@use "./variables" as *;
@use "./mixins" as *;

/*to-top-Button*/
#to-top {
  z-index: 1000;
  padding: 1em;
  bottom: 3em;
  right: 5%;
  height: 80px;
  width: 80px;
  background-color: $test-color;
  color: $contrast-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include border_colors(7deg, -8deg, -1px, -3px, 0, 1px);
  border-radius: 50%;
  transition: transform   $standard-animation-time ease-in-out;
  opacity: 0;

  .color1 {
    border-color: #82b9d9;
    transition: transform 250ms ease-in-out;
  }
  .color2 {
    border-color: #35648c;
    transition: transform 150ms ease-in-out;
  }

  &.show {
    opacity: 1;
    position: fixed;

    &:hover {
      cursor: pointer;
      transform: translateY(-10px);
      .color1{
        transform: rotateY(-30deg) skew(7deg) translate(-1px, -3px);
      }
      .color2 {
        transform: rotateY(-335deg) skew(-8deg) translate(0, 1px);
      }
    }
  }
}

/*show-more-btn (when text is to long)*/
.show-more-btn,
.show-less-btn {
  color: #888;
  padding: 1em 0;

  &:hover {
    cursor: pointer;
    color: #555;
  }
}

/*standard-Button*/
.standard-btn {
  display: block;
  text-align: center;
  font-size: 1.5em;

  &.__left {
    text-align: left;
  }

  &.__font-small {
    font-size: 1em;
  }

  &.__font-medium {
    font-size: 1.3em;
  }

  a {
    display: block;
    padding: .8em 1em;
    margin: 0 auto;
    max-width: 300px;
    border: 1px solid $contrast-color;
    position: relative;
    background-color: $test-color;
    transition: background-color $standard-animation-time ease-in-out, color $standard-animation-time ease-in-out;

    &:hover {
      color: $test-color;
      background-color: $contrast-color;
      border-color: $test-color;

      &::before {
        width: 100%;
        left: 0;
        box-shadow: #000665 1px 1px 5px;
      }
    }
  }

}