@use "./variables" as *;
@use "./mixins" as *;


.customizeable-img {
  padding: 0 2em;
  display: flex;
  position: relative;

  img {
    width: auto;
    &:hover {
      cursor: pointer;
    }
  }

  &.__round {
    img {
      border-radius: 50%;
    }
  }

  &.__middle {
    justify-content: center;
  }

  &.__right {
  justify-content: right;
  }

  @include small-img();
  @include medium-img();
  @include big-img();

}