@use "./variables" as *;
@use "./mixins" as *;

.lightbox-container--active {
  display: block;
  position: fixed;
  @include topBottomRightLeft(0, 0, 0, 0);
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(3px);
  z-index: 1001;

  .lightbox-toggle {
    display: block;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 3%;
    right: 15%;
    transform: translate(110%, 0);
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
    }

    &::before {
      transform: rotate(45deg);
      background-color: white;
      top: 50%;
    }

    &::after {
      transform: rotate(-45deg);
      background-color: white;
      top: 50%;
    }
  }
}

.slider-container-delay > .slide {
  z-index: 1002;
}

.delay {
  img {
    position: absolute;
    max-width: 10%;
    max-height: 10%;
    z-index: 1002;
    cursor: default;
  }
}

.customizeable-img.big,
.paragraph-img.big {
  img {
    transition: max-width $standard-animation-time ease-in-out, max-height $standard-animation-time ease-in-out;
    width: auto;
    @include topBottomRightLeft(0, 0, 0, 0);
    position: fixed;
    margin: auto auto;
    max-width: 10px;
    max-height: 10px;
    @media screen and (min-width: $tablet-breakpoint) {
      height: 80%;
    }
  }
}

.customizeable-img.delay.big,
.paragraph-img.delay.big,
.slide.delay.big {
  img {
    max-width: 100%;
    max-height: 100%;
  }
}

////////////////////////////////////
/*splide slider*/
///////////////////////////////////

.splide.slideshow-gallery-imgs--hidden {
  display: block;
  position: fixed;
  @include topBottomRightLeft(0, 0, 0, 0);
  height: 100vh;
  width: 100vw;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(3px);
  z-index: 1001;
  transition: opacity 300ms ease-in-out;

  .splide__slide {
    height: 100%;
    margin: auto 0;
  }
  img {
    max-height: 90%;
    max-width: 85%;
    object-fit: cover;
  }
}

.btn-close-lb {
  height: 70px;
  width: 70px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1002;
  cursor: pointer;


  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 70px;
    width: 2px;
    top: 0;
    right: 50%;
    background-color: $background-color;
    z-index: 1003;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}


#slideshow.lightbox-hidden {
  ~ .btn-close-lb,
  .splide.slideshow-gallery-imgs--hidden {
    opacity: 0;
    pointer-events: none;
  }
}

#slideshow.lightbox-active {
  ~ .btn-close-lb,
  .splide.slideshow-gallery-imgs--hidden  {
    display: block;
    opacity: 1;
    pointer-events: all;
  }
}

.slideshow-gallery-imgs--hidden {
  position: absolute;
}
