@use './variables' as *;

@mixin topBottomRightLeft($top, $bottom, $left, $right) {
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin dynamicUnderline($width) {
  &::before{
    content: "";
    display: block;
    position: absolute;
    height: 1px;
    width: $width;
    top: 85%;
    right: 0;
    background-color: $test-color;
    transition: width $standard-animation-time ease-in-out;
    @media screen and (min-width: $desktop-breakpoint) {
      top: 80%;
    }
  }
}

@mixin border_colors($skew1, $skew2, $translate1X, $translate1Y, $translateX, $translateY) {
  position: relative;
  display: inline-block;
  .color1,
  .color2 {
    content: '';
    display: block;
    position: absolute;
    border: solid 1px black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    top: 0;
    left: 0;
  }
  .color1 {
    transform: skew($skew1) translate($translate1X, $translate1Y);
  }
  .color2 {
    transform: skew($skew2) translate($translateX, $translateY);
  }}

@mixin small-img() {
  &.__small {
    img {
      width: 150px;
      /*height: 150px;*/
      height: auto;

      @media screen and (min-width: $tablet-breakpoint) {
        width: 200px;
        /*height: 200px;*/
        height: auto;
      }

      @media screen and (min-width: $desktop-breakpoint) {
        width: 250px;
        /*height: 250px;*/
        height: auto;
      }
    }
  }
}

@mixin medium-img() {
  &.__medium {
    img {
      width: 300px;
      /*height: 300px;*/
      height: auto;

      @media screen and (min-width: $tablet-breakpoint) {
        width: 400px;
        /*height: 400px;*/
        height: auto;
        min-width: 400px;
      }

      @media screen and (min-width: $desktop-breakpoint) {
        width: 450px;
        /*height: 450px;*/
        height: auto;
      }
    }
  }
}

@mixin big-img() {
  &.__big {
    img {
      width: 300px;
      /*height: 300px;*/
      height: auto;
      min-width: 300px;

      @media screen and (min-width: $small-tablet-breakpoint) {
        width: 550px;
        /*height: 550px;*/
        height: auto;
      }

      @media screen and (min-width: $tablet-breakpoint) {
        width: 650px;
        /*height: 650px;*/
        height: auto;
      }

      @media screen and (min-width: $desktop-breakpoint) {
        width: 700px;
        height: 700px;
      }
    }
  }
}

@mixin topRightBottomLeft($top, $right, $bottom, $left) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

