#nav-bar > #particles-js {
  transform: translateY(-100%);
  z-index: -1;
}


#particles-js {
  position: absolute;
  width: 100vw;
  transform: translateX(-5%);
  height: 100%;
  z-index: -1;
}

div.rn-pbwp-div {
  height: 100%;
  width: 100%;
  z-index: -1;
}