@use "./variables" as *;
@use "./mixins" as *;

.paragraphs {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $big-tablet-breakpoint) {
    flex-direction: row;
  }

  .para-headline-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;

    @media screen and (min-width: $big-tablet-breakpoint) {
      width: 50%;
    }
  }

  .paragraph-img {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    margin: auto auto;
    order: 1;

    @media screen and (min-width: $big-tablet-breakpoint) {
      padding: 1em 3em;
      text-align: right;
      width: 50%;
    }

    &.__round {
      img {
        border-radius: 50%;
        width: 250px;
        height: 250px;
        min-width: 250px;

        @media screen and (min-width: $small-tablet-breakpoint) {
          width: 350px;
          height: 350px;
        }

        @media screen and (min-width: $desktop-breakpoint) {
          width: 350px;
          height: 350px;
        }
        @media screen and (min-width: $biggest-breakpoint) {
          width: 500px;
          height: 500px;
        }
      }

      img {
        object-fit: cover;
      }
    }
    &.__img-left {
      order: -1;
    }
  }
}