@use "./variables" as *;
@use "./mixins" as *;

.paragraphs {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $big-tablet-breakpoint) {
    flex-direction: row;
  }

  .para-headline-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
  }

  .paragraph-img {
    flex: 1 1 0;
    text-align: center;
    padding: 1em 0;
    margin: auto auto;
    order: 1;

    @media screen and (min-width: $tablet-breakpoint) {
      padding: 1em 3em;
      text-align: left;
    }

    &.__round {
      img {
        border-radius: 50%;
        width: 300px;
        height: 300px;
        min-width: 300px;

        @media screen and (min-width: $small-tablet-breakpoint) {
          width: 350px;
          height: 350px;
        }

        @media screen and (min-width: $desktop-breakpoint) {
          width: 350px;
          height: 350px;
        }
        @media screen and (min-width: $biggest-breakpoint) {
          width: 550px;
          height: 550px;
        }
      }

      img {
        object-fit: cover;
      }
    }
    &.__img-left {
      order: -1;
    }
  }
}