$standard-font-size: 16px;

$standard-line-height: 1.4em;

$navbar-height-mobile: 65px;
$navbar-height-desktop: 100px;

/* breakpoints */
$tiny-breakpoint: 550px;
$small-tablet-breakpoint: 650px;
$tablet-breakpoint: 800px;
$big-tablet-breakpoint: 1000px;
$desktop-breakpoint: 1200px;
$biggest-breakpoint: 1400px;

/* colors */
$text-color: #000;
$background-color: #fff;
$contrast-color: #000022;
$test-color:#ffda00;

/* time */
$standard-animation-time: 300ms;

/*font-family*/
$standard-font: "Sarabun", sans-serif;
$headline-font: "Bellefair", sans-serif;
$special-font: "Amatic SC", sans-serif;